@import '~scss/mixins';
header {
  background-color: _hsla($name: 'ui', $l: 95);
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.nav-left {
  display: flex;
  .logo {
    margin-right: 10px;
    padding: 5px 10px 0px 10px;
    color: _hsla($name: 'primary');
    outline: none;
  }
  .user-count {
    padding: 0em .4em .18em;
    font-size: 1em;
    font-weight: 500;
    background-color: _hsla($name: 'error');
    border-radius: .1em;
  }
}

.nav-right {
  display: flex;
}

//user dropdown ==========================
.user-dropdown {
  position: relative;
  margin: 0px 20px 0px 15px;
  border-radius: 5px;
  transition: ease background-color .3s;
  background-color: _hsla($name: 'ui', $l: 89);
  &:hover {
    background-color: _hsla($name: 'ui', $l: 80);
  }
}

//user dropdown toggle ===================
.user-dropdown-toggle {
  display: flex;
  cursor: pointer;
  .user-initials {
    position: relative;
    background-color: _hsla($name: 'primary', $l: 40);
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  i {
    display: block;
    padding: 15px 10px 15px 5px;
    color: _hsla($name: 'ui', $l: 50);;
  }
}

//user dropdown target ===================
.user-dropdown-target {
  overflow: hidden;
  position: absolute;
  top: 60px;
  right: 0px;
  min-width: 150px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  .user-dropdown-link {
    padding: 10px 15px;
    &:hover {
      cursor: pointer;
      background-color: #eee;
    }
  }
}
