@import '~scss/mixins';

header{
  display: flex;
  background-color: $colorPrimary;
  padding: 10px;
}

.logo{
  padding: 0px 10px;
}

nav{
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: 0px 10px;
}