@import '~scss/mixins';
header {
  background-color: lighten($color-ui, 95);;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.nav-left {
  display: flex;
  .logo {
    margin-right: 10px;
    padding: 5px 10px 0px 10px;
    color: $color-primary;
    outline: none;
  }
  .user-count {
    margin-left: .3em;
    padding: .2em .5em;
    font-size: 1em;
    font-weight: 500;
    border-radius: 3px;
    color: #fff;
    background-color: $color-red;
    border-radius: .1em;
  }
}

.nav-right {
  display: flex;
}

//user dropdown ==========================
.user-dropdown {
  margin: 0px 20px 0px 15px;
}

//user dropdown toggle ===================
.user-dropdown-toggle {
  display: flex;
  cursor: pointer;
  background-color: lighten($color-ui, 47);
  transition: ease background-color .2s;
  &:hover {
    background-color: lighten($color-ui, 40);
  }
  .user-initials {
    position: relative;
    background-color: lighten($color-ui, 20);
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  i {
    display: block;
    padding: 12px 10px 12px 6px;
    color: lighten($color-ui, 10);
  }
}

