<section>
  <form 
    [formGroup]="registrationForm">
      
      <mat-form-field>      
        <input 
          matInput
          type="text"
          formControlName="firstName"
          placeholder="First name"
          minlength="3"
          maxlength="15"
          required>
          <mat-error *ngIf="firstName.errors?.required">
            First name is required  
          </mat-error>
          <mat-error *ngIf="firstName.errors?.minlength">
            First name is too short     
          </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input 
          matInput
          type="text"
          formControlName="lastName"
          placeholder="Last name"
          minlength="3"
          maxlength="15"
          required>
          <mat-error *ngIf="lastName.errors?.required">
            Last name is required  
          </mat-error>
          <mat-error *ngIf="lastName.errors?.minlength">
            Last name is too short     
          </mat-error>
      </mat-form-field>

      <mat-form-field>    
        <input 
          matInput
          type="email"
          formControlName="email"
          placeholder="Email"
          required>
          <mat-error *ngIf="email.errors?.required">
            Email is required  
          </mat-error>
          <mat-error *ngIf="email.errors?.pattern">
            Email is invalid     
          </mat-error>
      </mat-form-field>
  
      <mat-form-field>   
        <input 
          matInput
          formControlName="phone"
          placeholder="Phone"
          minlength="12"
          maxlength="12">
          <mat-error *ngIf="phone.errors?.required">
              Phone is required 
          </mat-error>
          <mat-error *ngIf="phone.errors?.pattern">
              Phone is invalid 
          </mat-error>
          <mat-hint>
            Ex. 000-000-0000
          </mat-hint>
      </mat-form-field>
  
      <mat-form-field>   
        <mat-select 
          placeholder="Position"
          formControlName="jobPosition">
            <mat-option value="Front-end developer" selected>Front-end developer</mat-option>
            <mat-option value="Back-end developer">Back-end developer</mat-option>
            <mat-option value="UI developer">UI developer</mat-option>
            <mat-option value="Web designer">Web designer</mat-option>
            <mat-option value="UX designer">UX designer</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>    
        <input 
          #address
          matInput
          type="text"
          formControlName="address"
          placeholder="Address"
          required>
          <mat-error *ngIf="address.errors?.required">
            Address is required  
          </mat-error>
      </mat-form-field>

      <mat-error
        class="server-error-message" 
        *ngIf="errorMessage">
          {{ errorMessage }}
      </mat-error>

      <button 
        mat-raised-button
        color="primary"
        pushDownBtn
        type="button"
        (click)="registerUser(registrationForm)"
        [disabled]="!registrationForm.valid">
          Add 
          <spinner 
            *ngIf="showSpinner" 
            [inline]="true" 
            size="sm" 
            color="white">
        </spinner>
      </button>
  </form>
</section>