@import '~scss/mixins';

.page-title-wrapper{
  overflow: hidden;
  height: 100px;
  padding: 20px;
  text-align: center;
  background-color: $color-primary;
}
.page-title{
  position: relative;
  display: inline-block;
  margin-top: 47px;
  padding: 10px;
  border-radius: 3px;
  font-size: 1.5em;
  //color: #fff;
  color: lighten($color-ui, 90);
  &:after{
    content: '';
    display: block;
    width: 100%;
    margin-top: 10px;
    border-bottom: 3px solid $color-accent;
    transform: scale(0);
    transition: ease transform .3s;
  }
  &.visible{
    &:after{
      transform: scale(1);
    }
  }
}