<article class="add-skill-wrapper">
  <form 
    [formGroup]="updateSkillForm" 
    id="update-skill-form" 
    (submit)="updateSkill(updateSkillForm)">

      <mat-form-field>
        <input matInput disabled="true" value="{{skill.skillName}}">
      </mat-form-field>

      <expertise-level 
        [(currentExpertiseLevel)]="currentExpertiseLevel">
      </expertise-level>

      <div class="action-btns">
        <button 
          mat-raised-button
          pushDownBtn
          type="button"
          (click)="closeUpdateSkill()" 
          class="btn">
            Cancel
        </button>
        <button 
          mat-raised-button
          pushDownBtn
          type="submit"
          class="btn btn-primary">
            Save
        </button>
      </div>
  </form>
</article>