@import '~scss/mixins';

.user{
  .card{
    @extend %card;
    height: 230px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-around;
  }
}

.users-view-port{
  display: flex;
}

.users-list{
  overflow-y: auto;
  width: 20%;
  min-width: 250px;
  height: 100%;
  padding: 10px;
}

.users-map{
  flex-grow: 1;
}

agm-map {
  height: 100%;
}

.user-full-name {
  font-size: 1.2em;
  font-weight: 500;
}
