@import '~scss/mixins';

.user{
  .card{
    @extend %card;
    height: 230px;
    align-items: center;
    justify-content: space-around;
  }
}

.user-list {
  margin: 30px auto; 
}


.user-full-name {
  font-size: 1.3em;
  font-weight: 800;
}
