<section class="users-wrapper">

  <page-title pageTitle="Users"></page-title>

  <section users-view-port class="users-view-port">
  
    <section class="users-list">
      <article
        *ngFor="let user of users"
        class="user" [@slideIn]="slideInUserInitials">
          
          <div 
          (click)="locateUser(user.address.location)"
          class="card">
            <div 
              class="user-initials" 
              [@slideIn]="slideInUserInitials"
              [style.backgroundColor]="user.profileColor">
                {{ user | initials }}
            </div>
            <div 
              class="user-full-name" 
              [@slideIn]="slideInUserInitials">
                {{ user.firstName + ' ' + user.lastName }}
            </div>
            <div class="user-job-position">
              {{ user.jobPosition }}
            </div>
            <button 
              mat-button 
              color="accent"
              class="btn"
              [routerLink]="['/users', user._id]">
                View profile
            </button>
          </div>

      </article>
      <article *ngIf="noUsers">No users found</article>
    </section>

    <section class="users-map">
      <agm-map [latitude]="mapCenter.lat" [longitude]="mapCenter.lng" [zoom]="12">
        <div *ngFor="let mapMarker of mapMarkers">
          <agm-marker [latitude]="mapMarker.lat" [longitude]="mapMarker.lng">
            <agm-info-window [latitude]="mapMarker.lat" [longitude]="mapMarker.lng">asds</agm-info-window>
          </agm-marker>
        </div>
      </agm-map>
    </section>

  </section>

  <spinner 
    *ngIf="showSpinner" 
    [inline]="false" 
    size="lg" 
    color="primary">
  </spinner>

</section>
