@import '~scss/mixins';
.home-title {
  max-width: 80%;
  margin: 30px auto;
  font-size: 3em;
  font-weight: 300;
  text-align: center;
}

.home-content {
  @extend %card;
  margin-top: 15px;
  padding: 3em;
}

.home-welcome-message {
  font-size: 2em;
  text-align: center;
}
