<section class="skills-wrapper">
  <section>
    <header class="section-header">
      Skills
    </header>
  </section>

  <!-- skill list -->
  <section class="skill-list-wrapper">
    <ul class="skill-list">
      <li class="skill" *ngFor="let skill of skills">
        <div class="skill-name">{{ skill.skillName }}</div>
        <div class="expertise-level">
          <div 
          class="expertise-level-bar" 
          [style.width]="skill.expertiseLevel + '%'">
          </div>
        </div>
      </li>
    </ul>
    <div 
      *ngIf="!skills" 
      class="no-skills-message">
        You have no skills
    </div>
  </section>

  <div 
    [backdrop]="zIndex-1"
    *ngIf="showAddSkillForm"
    [@fadeIn]
    (click)="showAddSkillForm = false">
  </div>

  <!-- add skill form -->
  <section 
    class="add-skill-wrapper"
    [@scale] 
    [style.zIndex]="zIndex" 
    *ngIf="showAddSkillForm">
      <form 
        [formGroup]="addSkillForm" 
        id="add-skill-form" 
        (submit)="addSkill(addSkillForm)">

          <div class="form-control-group">
            <label for="skill-name">Skill name</label>
            <input 
              type="text" 
              #skillName
              id="skill-name" 
              class="form-control" 
              formControlName="skillName">
          </div>

          <div class="form-control-group expertise-level">
            <label for="expertise-level">Expertise level</label>
            <div class="expertise-level-indicators">
              <div class="expertise-level-val">{{ expertiseLevel.value }}%</div>
              <div class="expertise-level-name-wrapper">
                <span 
                  [@scale]
                  class="expertise-level-name"
                  *ngIf="expertiseLevel.value == 0" 
                  [style.backgroundColor]="'#F44336'">
                    No skills
                </span>
                <span 
                  [@scale]
                  class="expertise-level-name"
                  *ngIf="expertiseLevel.value > 0 && expertiseLevel.value <= 30" 
                  [style.backgroundColor]="'#E91E63'">
                    Beginner
                </span>
                <span 
                  [@scale]
                  class="expertise-level-name"
                  *ngIf="expertiseLevel.value > 30 && expertiseLevel.value <= 50" 
                  [style.backgroundColor]="'#9C27B0'">
                    Intermediate
                </span>
                <span 
                  [@scale]
                  class="expertise-level-name"
                  *ngIf="expertiseLevel.value > 50 && expertiseLevel.value <= 80" 
                  [style.backgroundColor]="'#2196F3'">
                    Proficiant
                </span>
                <span 
                  [@scale]
                  class="expertise-level-name"
                  *ngIf="expertiseLevel.value > 80 && expertiseLevel.value <= 100" 
                  [style.backgroundColor]="'#4CAF50'">
                    Expert
                </span>
              </div>
            </div>
            <input 
              #expertiseLevel
              type="range" 
              id="expertise-level" 
              class="form-control" 
              formControlName="expertiseLevel">
          </div>

          <div class="action-btns">
            <button 
            type="button"
            (click)="closeAddSkill()" 
            class="btn">
                Cancel
            </button>
            <button 
              type="submit"
              class="btn btn-primary"
              [disabled]="!skillName.value.length">
                Save
            </button>
          </div>
      </form>
  </section>

  <button 
    class="btn btn-secondary add-skill-btn" 
    [disabled]="showAddSkillForm" 
    (click)="openAddSkill()">
      <i class="fa fa-plus"></i> Add
  </button>
</section>
