<section class="skills-wrapper">
  
  <section class="skills-header">
    <header class="section-header">
      Skills
    </header>
  </section>

  <section class="skill-list-wrapper">
    <ul class="skill-list">
      
      <li 
        [@scale]
        class="skill" 
        *ngFor="let skill of skills; let index = index">
          
          <div class="skill-name">
            {{ skill.skillName }}
          </div>

          <div class="expertise-level">
            <expertise-level-indicator 
              [expertiseLevel]="skill.expertiseLevel">
            </expertise-level-indicator>
          </div>    

          <div class="skill-controls">
            <button
              class="skill-controls-toggle"
              mat-button 
              [matMenuTriggerFor]="menu">
                <i class="fa fa-cog"></i>
            </button>
            <mat-menu #menu="matMenu">
              <button 
                mat-menu-item 
                (click)="deleteSkill(index, skill)">
                  <i class="fa fa-trash"></i> Delete
              </button>
              <button 
              mat-menu-item
                (click)="
                updateSkillModalVisible = !updateSkillModalVisible;
                selectedSkill = skill;
                selectedSkill['index'] = index">
                  <i class="fa fa-pencil"></i> Edit
              </button>
            </mat-menu>
          </div>
      </li>

    </ul>
    <div 
      *ngIf="!skills.length" 
      class="no-skills-message">
        You have no skills
    </div>

  </section>

  <section>
    <button 
      mat-raised-button 
      color="accent" 
      (click)="openAddSkillDialog()">
        Add
    </button>
  </section>

  <!-- <modal 
    *ngIf="addSkillModalVisible" 
    [(modalVisible)]="addSkillModalVisible">
      <div modal-body>
        <add-skill 
          [(addSkillModalVisible)]="addSkillModalVisible">
        </add-skill>
      </div>
  </modal> -->

  <modal 
    *ngIf="updateSkillModalVisible" 
    [(modalVisible)]="updateSkillModalVisible">
      <div modal-body>
        <update-skill 
          [(updateSkillModalVisible)]="updateSkillModalVisible"
          [skill]="selectedSkill">
        </update-skill>
      </div>
  </modal>

</section>
