<section class="skills-wrapper">
  <section>
    <header class="section-header">
      Skills
    </header>
  </section>

  <!-- skill list -->
  <section class="skill-list-wrapper">
    <ul class="skill-list">
      <li class="skill" *ngFor="let skill of skills">
        <div class="skill-name">{{ skill.skillName }}</div>
        <div class="expertise-level">
          <div 
            class="expertise-level-bar" 
            [style.width]="skill.expertiseLevel + '%'">
          </div>
        </div>
        <div class="expertise-name">{{ skill.epertiseLevel }}</div>        
      </li>
    </ul>
    <div 
      *ngIf="!skills" 
      class="no-skills-message">
        You have no skills
    </div>
  </section>

  <div 
    [@fadeIn]
    class="backdrop"
    [style.zIndex]="[zIndex-1]"
    *ngIf="showAddSkillForm"
    (click)="showAddSkillForm = false">
  </div>

  <!-- add skill form -->
  <section 
    [@scale]
    class="add-skill-wrapper"
    [style.zIndex]="addSkillFormzIndex" 
    *ngIf="showAddSkillForm">
      <form 
        [formGroup]="addSkillForm" 
        id="add-skill-form" 
        (submit)="addSkill(addSkillForm)">

          <div class="form-control-group">
            <label for="skill-name">Skill name</label>
            <input 
              #skillName
              type="text" 
              (focus)="showSuggestedSkills = true"
              id="skill-name" 
              class="form-control" 
              formControlName="skillName"
              autocomplete="off"
              placeholder="Ex. HTML">

            <section 
              [@scale]
              class="suggested-skills" 
              *ngIf="showSuggestedSkills">
                <ul class="suggested-skill-list">
                  <li 
                  class="suggested-skill" 
                  (click)="selectSuggestion(skill); showSuggestedSkills = false"
                  *ngFor="let skill of suggestedSkills">
                    {{ skill }}
                  </li>
                </ul>
            </section>

          </div>

          <div class="form-control-group expertise-level">
            <label for="expertise-level">Expertise level</label>
            <div class="expertise-level-indicators">
              <div class="expertise-level-val">{{ expertiseLevel.value }}%</div>
              <div class="expertise-level-name-wrapper">
                <div 
                  class="expertise-level-name"
                  [style.color]="currentExpertiseLevel.color"
                  [style.borderColor]="currentExpertiseLevel.color">
                    {{ currentExpertiseLevel.name }}
                    <div 
                      class="sub-level" 
                      [style.width]="currentExpertiseLevel.subLevel + '%'"
                      [style.backgroundColor]="currentExpertiseLevel.color">
                    </div>
                </div>
                
              </div>
            </div>
            <input 
              #expertiseLevel
              (input)="onExpertiseLevelChange(expertiseLevel.value)"
              type="range" 
              id="expertise-level" 
              class="form-control" 
              formControlName="expertiseLevel">
          </div>

          <div class="action-btns">
            <button 
            pushDownBtn
            type="button"
            (click)="closeAddSkill()" 
            class="btn">
                Cancel
            </button>
            <button 
              pushDownBtn
              type="submit"
              class="btn btn-primary"
              [disabled]="!skillName.value.length">
                Save
            </button>
          </div>
      </form>
  </section>

  <button 
    class="btn btn-secondary add-skill-btn" 
    [disabled]="showAddSkillForm" 
    (click)="openAddSkill()">
      <i class="fa fa-plus"></i> Add
  </button>
</section>
