@import '~scss/mixins';
.section-header {
  margin: 1em 0em 1.5em;
  font-size: 1.5em;
}

.no-skills-message {
  padding: 30px;
  border-radius: 3px;
  font-size: 1.5em;
  text-align: center;
  color: _hsla($name: 'ui', $l: 60);
  background-color: _hsla($name: 'ui', $l: 95);
}

.skill {
  display: flex;
  justify-content: space-between;
  margin: 1em 0em;

  .skill-name{
    font-size: 1.3em;
    font-weight: 700;
  }

  .expertise-level{
    width: 40%;
    height: 10px;
    background-color: _hsla($name: 'ui', $l: 95);

    .expertise-level-bar{
      height: 10px;
      background-color: _hsla($name: 'primary');
    }
  }
}

.add-skill-btn{
  margin: 10px 0px;
  padding: .5em;
}

.add-skill-wrapper{
  position: fixed;
  top: 20%;
  left: 0px;
  right: 0px;
  width: 80%;
  min-width: 300px;
  max-width: 500px;
  margin: auto;
  padding: 25px;
  border: 1px solid _hsla($name: 'ui', $l: 95);
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, .3);
}

.expertise-level-indicators{
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
  font-size: 1.3em;
  font-weight: 500;

  .expertise-level-val{
    display: inline-block;
    padding: 5px;
    color: _hsla($name: ui, $l: 20);
    border-radius: 3px;
    background-color: _hsla($name: ui, $l: 90);
  }

  .expertise-level-name{
    display: inline-block;
    padding: 5px;
    color: #fff;
    border-radius: 3px;
    background-color: _hsla($name: 'primary');
  }
}

.action-btns{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
