@import "~@angular/material/_theming";

@include mat-core();

// Define the theme.
$color-primary: mat-color(mat-palette($mat-indigo));
$color-accent: mat-color(mat-palette($mat-blue));
$color-ui: #607d8b;
$color-red: #f44034;

$palette-primary: mat-palette($mat-indigo);
$palette-accent: mat-palette($mat-blue);

$app-theme: mat-light-theme($palette-primary, $palette-accent);

// Include the theme styles for only specified components.
@include mat-core-theme($app-theme);
@include mat-button-theme($app-theme);
@include mat-menu-theme($app-theme);

//fonts
$font-primary: 'Roboto', sans-serif;
$font-secondary: Arial, "Helvetica Neue", Helvetica, sans-serif;

%container {
  max-width: 1366px;
  margin: 0px auto;
  padding: 15px;
}