$fontPrimary: 'Roboto', sans-serif;
$fontSecondary: Arial, "Helvetica Neue", Helvetica, sans-serif;

@function _hsla($name: 'primary', $l:-1, $a: 1) {
  @if ($name=='primary') {
    @if($l==-1) {
      $l: 48;
    }
    @return hsla(231, 48, $l, $a);
  }
  @else if ($name=='secondary') {
    @if($l==-1) {
      $l: 37;
    }
    @return hsla(172, 100, $l, $a);
  }
  @else if ($name=='ui') {
    @if($l==-1) {
      $l: 46;
    }
    @return hsla(200, 18, $l, $a);
  }
  @else if ($name=='error') {
    @if($l==-1) {
      $l: 58;
    }
    @return hsla(4, 90, $l, $a);
  }
}
