@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import 'reset';
@import 'mixins';
@import 'range_input';

html {
  font-family: $font-primary;
  font-size: 16px;
}

body {
  overflow-x: hidden;
  color: darken($color-ui, 10);
  background-color: lighten($color-ui, 50);
}

.container {
  max-width: 1366px;
  margin: 0px auto;
  padding: 20px 20px 100px;
}

.cf {
  &:before {
    clear: both;
  }
  &:after {
    display: table;
    contain: '';
    clear: both;
  }
}

.backdrop{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
}

.btn {
  display: inline-block;
  padding: 1.2em .9em;
  font-family: $font-primary;
  font-size: 1em;
  font-weight: 500;
  line-height: 0;
  border: 2px solid;
  border-radius: 3px;
  border-color: transparent;
  color: $color-ui;
  background-color: lighten($color-ui, 50);
  cursor: pointer;
  outline: none;
  transition: ease background-color .1s;
  &:hover {
    background-color: lighten($color-ui, 45);
  }
  &.btn-primary {
    color: #fff;
    background-color: $color-primary;
    &:hover {
      background-color: darken($color-primary, 10);
    }
  }
  &.btn-secondary {
    color: #fff;
    background-color: $color-secondary;
    &:hover {
      background-color: darken($color-secondary, 5);
    }
  }
  &.btn-wide {
    width: 100%;
    padding: 1.4em;
  }
  &:disabled {
    color: #fff;
    border: none;
    background-color: lighten($color-ui, 40);
    &:hover {
      background-color: lighten($color-ui, 40);
      cursor: default;
    }
  }
}

.down {
  transform: scale(0.96) !important;
}

label {
  display: block;
  margin-bottom: .8em;
  font-size: 1em;
  font-weight: 700;
  color: darken($color-ui, 10);
}

.form-control-group {
  margin-bottom: 1.2em;
}

.form-control {
  display: block;
  width: 100%;
  padding: .8em;
  font-size: 1em;
  color: $color-ui;
  border: 2px solid;
  border-radius: 3px;
  border-color: #eee;
  &::placeholder {
    opacity: .5;
  }
  &.primary {
    border-color: lighten($color-ui, 45);
  }
  &:focus {
    outline: none;
    border-color: lighten($color-ui, 10);
  }
}

// input[type=range] {
//   -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
//   width: 100%; /* Specific width is required for Firefox. */
//   background: transparent; /* Otherwise white in Chrome */
// }

// input[type=range]::-webkit-slider-thumb {
//   -webkit-appearance: none;
// }

// input[type=range]:focus {
//   outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
// }

// input[type=range]::-ms-track {
//   width: 100%;
//   cursor: pointer;

//   /* Hides the slider so custom styles can be added */
//   background: transparent; 
//   border-color: transparent;
//   color: transparent;
// }

.error-message {
  margin-top: .7;
  font-family: $font-secondary;
  color: $color-red;
}

.user-initials {
  width: 2.5em;
  height: 2.5em;
  padding-top: .8em;
  font-size: 1em;
  font-weight: 800;
  text-align: center;
  border-radius: 3px;
  color: #fff;
  background-color: $color-secondary;
}

.user-job-position {
  padding-top: .4em;
  font-family: $font-secondary;
  vertical-align: middle;
  &:before {
    display: inline-block;
    content: ' ';
    margin-right: .4em;
    width: .5em;
    height: .5em;
    border-radius: 50%;
    background-color: $color-secondary;
  }
}

.aside {
  z-index: 102;
  position: absolute;
  right: 0;
  width: 400px;
  padding: 2em;
  background-color: lighten($color-ui, 95);
}
