@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import 'reset';
@import 'mixins';

html{
  font-family: $fontPrimary;
  font-size: 12px;
}

body{
  overflow-x: hidden;
  color: color_hsla($name: 'ui', $l: 30);
  background-color: color_hsla($name: 'ui', $l: 98);
}