$colorPrimary: #4460D1;
$colorPrimaryLight: #5973DF;
$colorPrimaryLighter: #DDF1FF;
$colorSecondary: #00BFA5;
$colorTextDark: #000;
$colorTextLight: #90A4AE;

$fontPrimary: 'Roboto', sans-serif;
$fontSecondary: Arial, "Helvetica Neue", Helvetica, sans-serif;



