@import '~scss/mixins';

.user-profile-wrapper{
  position: relative;
  text-align: center;
}

.close-user-profile-btn{
  position: absolute;
  left: 30px;
  top: 15px;
  padding: .5em .8em;
  font-size: 2em;
}

header{
  height: 150px;
  background-color: #eee;
  background-image: url('../../assets/user_single_banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.user-info{
  margin-top: -3em;
  line-height: 1.5;
  font-family: $fontSecondary;
}

.user-profile-initials{
  @extend .user-initials;
  width: 2.5em;
  height: 2.5em;
  padding-top: .5em; 
  font-size: 2em;
  display: inline-block;
}

.user-profile-name{
  margin: 1em 0em 0em;
  font-family: $fontPrimary;
  font-size: 4.5em;
  font-weight: 800;
}

.user-profile-job-position{
  @extend .user-job-position;
}